.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 250, 250);
    
}
.top-bar{
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    height: 80px;
    display: block;
}

.top-bar img{
    float: left;
    height: 60px;
    margin: 10px;
}
.search-bar{
    float: right;
    padding: 10px;
    margin: 20px;
}
.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    background-color: orange;
    padding: 10px;
    height: 60px;

}
.top-nav nav {
    margin-top: 20px;
    
}
.top-nav nav a{
    text-decoration: none;
    text-align: center;
    background-color:rgb(230,230,230);
    padding: 20px;
    color:black;
    margin-right: 10px;
    
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.news-bar{
    flex: 1;
    background-color: rgb(230,230,230);
    margin-right: 20px;
    padding: 10px;
}
.main-bar{
    flex: 2;
    background-color: rgb(230,230,230);
    padding: 10px;

}
.main-bar img{
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.content a{
    text-decoration: none;
    color:black;
    font-size: 30px;
}
.footer{
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    height: 50px;
    display: block;
    margin-top: 20px;

}
.recipe-page{
    display: flex;
    flex-direction: column;
    
  
  }
  .recipe-option{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    margin-top: 20px;
    

}
.recipe-option img{
    float: left;
    margin-left: 10px;
    margin-right: 10px;

}
.recipe-option a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    margin-top: 10px;
}
.main-recipe{
    background-color: rgb(230,230,230);
    padding-left: 10px;
    flex: 1;
    

}

.img-bar{
    width: 50%;
    background-color: rgb(230,230,230);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.img-bar img{
    margin-top: 20px;
    height: 80%;
}


